/* _content/SIPI_CRM_System/Pages/Index.cshtml.rz.scp.css */
.gradient-custom[b-ck5xepj1lm] {
    background: radial-gradient(circle, rgba(110,77,59,1) 0%, rgba(0,0,0,1) 98%);
}

/* _content/SIPI_CRM_System/Pages/MainPage.cshtml.rz.scp.css */
.gradient-color[b-19zk1pc1cz] {
    background: radial-gradient(circle, rgba(110,77,59,1) 0%, rgba(0,0,0,1) 98%);
    background-repeat: repeat-y;
    min-height: 100vh;
    background-attachment: fixed;
}
/* _content/SIPI_CRM_System/Pages/Shared/_AdminLayout.cshtml.rz.scp.css */
.menu-button[b-e4vqascbyo] {
    background-color: #996806;
    border-radius: 12px;
    border: 2px solid #875d0a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

.menu-button:hover[b-e4vqascbyo] {
    background: linear-gradient(to bottom, #a87309 5%, #996806 100%);
    background-color: #a87309;
}

.menu-button:active[b-e4vqascbyo] {
    position: relative;
    top: 1px;
}

.exit-button[b-e4vqascbyo] {
    background-color: #696967;
    border-radius: 12px;
    border: 2px solid #575757;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

.exit-button:hover[b-e4vqascbyo] {
    background-color: #6c7c7c;
}

.exit-button:active[b-e4vqascbyo] {
    position: relative;
    top: 1px;
}
/* _content/SIPI_CRM_System/Pages/Shared/_EmployeeLayout.cshtml.rz.scp.css */
.menu-button[b-fcxgst3h2b] {
    background-color: #996806;
    border-radius: 12px;
    border: 2px solid #875d0a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

    .menu-button:hover[b-fcxgst3h2b] {
        background: linear-gradient(to bottom, #a87309 5%, #996806 100%);
        background-color: #a87309;
    }

    .menu-button:active[b-fcxgst3h2b] {
        position: relative;
        top: 1px;
    }

.exit-button[b-fcxgst3h2b] {
    background-color: #696967;
    border-radius: 12px;
    border: 2px solid #575757;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

    .exit-button:hover[b-fcxgst3h2b] {
        background-color: #6c7c7c;
    }

    .exit-button:active[b-fcxgst3h2b] {
        position: relative;
        top: 1px;
    }
/* _content/SIPI_CRM_System/Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-bq0frcww7h] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-bq0frcww7h] {
  color: #0077cc;
}

.btn-primary[b-bq0frcww7h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-bq0frcww7h], .nav-pills .show > .nav-link[b-bq0frcww7h] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-bq0frcww7h] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-bq0frcww7h] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-bq0frcww7h] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-bq0frcww7h] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-bq0frcww7h] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

