@page
@model SIPI_CRM_System.Pages.MainPageModel
@{
    @if (Request.Query["isadmin"] == "1")
        Layout = "~/Pages/Shared/_AdminLayout.cshtml";
    else
        Layout = "~/Pages/Shared/_EmployeeLayout.cshtml";
}

<section class="gradient-color">
    <h1>Main Page</h1>
</section>