.checkbox-lg .form-check-input[b-5pi2o0rw7p]{
    top: .8rem;
    scale: 1.4;
    margin-right: 0.7rem;
}

.checkbox-lg .form-check-label[b-5pi2o0rw7p] {
    font-size: 20px;
}

.checkbox-xl .form-check-input[b-5pi2o0rw7p] {
    top: 1.2rem;
    scale: 1.7;
    margin-right: 0.8rem;
}

.checkbox-xl .form-check-label[b-5pi2o0rw7p] {
    padding-top: 19px;
}

.menu-offcanvas[b-5pi2o0rw7p] {
    background-color: #212529
}

.nav-item-divider[b-5pi2o0rw7p] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.add-offcanvas[b-5pi2o0rw7p] {
    background-color: #212529;
    color: white;
}
