.new-order-offcanvas {
    background-color: #212529;
}

.delete-offcanvas {
    background-color: #212529;
}

.date-control {
    margin-block: auto;
}



.menu-offcanvas {
    background-color: #212529
}

.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}