.menu-button[b-e4vqascbyo] {
    background-color: #996806;
    border-radius: 12px;
    border: 2px solid #875d0a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

.menu-button:hover[b-e4vqascbyo] {
    background: linear-gradient(to bottom, #a87309 5%, #996806 100%);
    background-color: #a87309;
}

.menu-button:active[b-e4vqascbyo] {
    position: relative;
    top: 1px;
}

.menu-offcanvas[b-e4vqascbyo]{
    background-color: #212529 
}

.exit-button[b-e4vqascbyo] {
    background-color: #696967;
    border-radius: 12px;
    border: 2px solid #575757;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

.exit-button:hover[b-e4vqascbyo] {
    background-color: #6c7c7c;
}

.exit-button:active[b-e4vqascbyo] {
    position: relative;
    top: 1px;
}
