.menu-button[b-vphys856y5] {
    background-color: #996806;
    border-radius: 12px;
    border: 2px solid #875d0a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

    .menu-button:hover[b-vphys856y5] {
        background: linear-gradient(to bottom, #a87309 5%, #996806 100%);
        background-color: #a87309;
    }

    .menu-button:active[b-vphys856y5] {
        position: relative;
        top: 1px;
    }

.exit-button[b-vphys856y5] {
    background-color: #696967;
    border-radius: 12px;
    border: 2px solid #575757;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

    .exit-button:hover[b-vphys856y5] {
        background-color: #6c7c7c;
    }

    .exit-button:active[b-vphys856y5] {
        position: relative;
        top: 1px;
    }
