.menu-offcanvas[b-fv1vnllla0] {
    background-color: #212529
}

.nav-item-divider[b-fv1vnllla0] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.edit-dish-offcanvas[b-fv1vnllla0] {
    background-color: #212529
}

.delete-dish-offcanvas[b-fv1vnllla0] {
    background-color: #212529
}

.close-red[b-fv1vnllla0] {
    background-color: red;
}

.close-button[b-fv1vnllla0] {
    background-color: #696967;
    border: 0;
}

.collapse-card[b-fv1vnllla0] {
    background-color: #212529;
    border-radius: 20px;
}

.sub-collapse-card[b-fv1vnllla0] {
    background-color: #2c3238;
}

.category-button[b-fv1vnllla0] {
    background-color: #996806;
    border-radius: 20px;
}

.new-dish-button[b-fv1vnllla0] {
    background-color: #755107;
    border-radius: 20px;
}
.sub-category-button[b-fv1vnllla0] {
    background-color: #755107;
    border-radius: 12px;
}
