.new-order-offcanvas[b-708837tbp7] {
    background-color: #212529;
}

.delete-offcanvas[b-708837tbp7] {
    background-color: #212529;
}

.date-control[b-708837tbp7] {
    margin-block: auto;
}



.menu-offcanvas[b-708837tbp7] {
    background-color: #212529
}

.nav-item-divider[b-708837tbp7] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.green-border[b-708837tbp7] {
    border-color: green;
    background-color: gray;
    border-radius: 25px;
}
