/* _content/SIPI_CRM_System/Pages/EditPages/DishEditPage/DishEditPage.cshtml.rz.scp.css */
.scroll-card[b-83pwj3b17m] {
    width: 100%;
    overflow: auto;
}

.category-list[b-83pwj3b17m] {
    background-color: #212529;
    border-radius: 20px;
}

.category-cadr[b-83pwj3b17m] {
    background-color: #2c3238;
}

.category-button[b-83pwj3b17m] {
    background-color: #996806;
    border-radius: 20px;
}

.product-button[b-83pwj3b17m] {
    background-color: #696967;
    border: 0px;
    border-radius: 12px;
}

.input-card[b-83pwj3b17m] {
    background-color: #212529;
    border-radius: 12px;
}

.form-control[b-83pwj3b17m] {
    background-color: #2c3238;
    color: white;
    border-radius: 12px;
}

.product-card[b-83pwj3b17m] {
    background-color: #212529;
    color: white;
    border-radius: 12px;
}
/* _content/SIPI_CRM_System/Pages/EditPages/OrderEditPage/OrderEditPage.cshtml.rz.scp.css */
.menu-offcanvas[b-1xoa2yvb0r] {
    background-color: #212529
}

.nav-item-divider[b-1xoa2yvb0r] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.edit-dish-offcanvas[b-1xoa2yvb0r] {
    background-color: #212529
}

.delete-dish-offcanvas[b-1xoa2yvb0r] {
    background-color: #212529
}

.close-red[b-1xoa2yvb0r] {
    background-color: red;
}

.close-button[b-1xoa2yvb0r] {
    background-color: #696967;
    color: white;
    border: 0;
}

.collapse-card[b-1xoa2yvb0r] {
    background-color: #212529;
    border-radius: 20px;
}

.sub-collapse-card[b-1xoa2yvb0r] {
    background-color: #2c3238;
}

.category-button[b-1xoa2yvb0r] {
    background-color: #996806;
    border-radius: 20px;
}

.new-dish-button[b-1xoa2yvb0r] {
    background-color: #755107;
    border-radius: 20px;
}

.sub-category-button[b-1xoa2yvb0r] {
    background-color: #755107;
    border-radius: 12px;
}
/* _content/SIPI_CRM_System/Pages/Index.cshtml.rz.scp.css */
.gradient-custom[b-ck5xepj1lm] {
    background: radial-gradient(circle, rgba(110,77,59,1) 0%, rgba(0,0,0,1) 98%);
}
/* _content/SIPI_CRM_System/Pages/MainPage/MainPage.cshtml.rz.scp.css */
.new-order-offcanvas[b-708837tbp7] {
    background-color: #212529;
}

.delete-offcanvas[b-708837tbp7] {
    background-color: #212529;
}

.menu-offcanvas[b-708837tbp7] {
    background-color: #212529;
}

.close-work-day-offcanvas[b-708837tbp7] {
    background-color: #212529;
}

.date-control[b-708837tbp7] {
    margin-block: auto;
}

.nav-item-divider[b-708837tbp7] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.dish-list[b-708837tbp7] {
    border: 3px solid #b9b9a9;
    background-color: #eeedd8;
    border-radius: 25px;
}

.add-dish-button[b-708837tbp7] {
    border-radius: 25px;
}
/* _content/SIPI_CRM_System/Pages/MenuPage/MenuPage.cshtml.rz.scp.css */
.menu-offcanvas[b-fv1vnllla0] {
    background-color: #212529
}

.nav-item-divider[b-fv1vnllla0] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.edit-dish-offcanvas[b-fv1vnllla0] {
    background-color: #212529
}

.delete-dish-offcanvas[b-fv1vnllla0] {
    background-color: #212529
}

.close-red[b-fv1vnllla0] {
    background-color: red;
}

.close-button[b-fv1vnllla0] {
    background-color: #696967;
    color: white;
    border: 0;
}

.collapse-card[b-fv1vnllla0] {
    background-color: #212529;
    border-radius: 20px;
}

.sub-collapse-card[b-fv1vnllla0] {
    background-color: #2c3238;
}

.category-button[b-fv1vnllla0] {
    background-color: #996806;
    border-radius: 20px;
}

.new-dish-button[b-fv1vnllla0] {
    background-color: #755107;
    border-radius: 20px;
}
.sub-category-button[b-fv1vnllla0] {
    background-color: #755107;
    border: 0px;
    border-radius: 12px;
}
/* _content/SIPI_CRM_System/Pages/Shared/_Layout.cshtml.rz.scp.css */
.menu-button[b-bq0frcww7h] {
    background-color: #996806;
    border-radius: 12px;
    border: 2px solid #875d0a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

.menu-button:hover[b-bq0frcww7h] {
    background: linear-gradient(to bottom, #a87309 5%, #996806 100%);
    background-color: #a87309;
}

.menu-button:active[b-bq0frcww7h] {
    position: relative;
    top: 1px;
}

.exit-button[b-bq0frcww7h] {
    background-color: #696967;
    border-radius: 12px;
    border: 2px solid #575757;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

    .exit-button:hover[b-bq0frcww7h] {
        background-color: #6c7c7c;
    }

    .exit-button:active[b-bq0frcww7h] {
        position: relative;
        top: 1px;
    }

.gradient-color[b-bq0frcww7h] {
    background: radial-gradient(circle, rgba(110,77,59,1) 0%, rgba(0,0,0,1) 98%);
    background-repeat: repeat-y;
    min-height: 100vh;
    background-attachment: fixed;
}
/* _content/SIPI_CRM_System/Pages/StockPage/StockPage.cshtml.rz.scp.css */
.menu-offcanvas[b-5pi2o0rw7p] {
    background-color: #212529
}

.nav-item-divider[b-5pi2o0rw7p] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.add-offcanvas[b-5pi2o0rw7p] {
    background-color: #212529;
    color: white;
}
/* _content/SIPI_CRM_System/Pages/UserPage/UserPage.cshtml.rz.scp.css */
.menu-offcanvas[b-1rjssg8h57] {
    background-color: #212529
}

.nav-item-divider[b-1rjssg8h57] {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

body[b-1rjssg8h57] {
    margin-top: 20px;
    background: #eee;
}

a[b-1rjssg8h57] {
    color: #f96332;
}

.m-t-5[b-1rjssg8h57] {
    margin-top: 5px;
}

.card[b-1rjssg8h57] {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .1875rem;
    display: inline-block;
    position: relative;
    width: 100%;
    box-shadow: none;
}

    .card .body[b-1rjssg8h57] {
        font-size: 14px;
        color: #424242;
        padding: 20px;
        font-weight: 400;
    }

.profile-page .profile-header[b-1rjssg8h57] {
    position: relative;
    background-color: #996806;
    border-radius: 25px;
}

    .profile-page .profile-header .profile-image img[b-1rjssg8h57] {
        border-radius: 50%;
        width: 140px;
        border: 3px solid #fff;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23)
    }

    .profile-page .profile-header .social-icon a[b-1rjssg8h57] {
        margin: 0 5px
    }

.profile-page .profile-sub-header[b-1rjssg8h57] {
    min-height: 60px;
    width: 100%
}

    .profile-page .profile-sub-header ul.box-list[b-1rjssg8h57] {
        display: inline-table;
        table-layout: fixed;
        width: 100%;
        background: #eee
    }

        .profile-page .profile-sub-header ul.box-list li[b-1rjssg8h57] {
            border-right: 1px solid #e0e0e0;
            display: table-cell;
            list-style: none
        }

            .profile-page .profile-sub-header ul.box-list li:last-child[b-1rjssg8h57] {
                border-right: none
            }

            .profile-page .profile-sub-header ul.box-list li a[b-1rjssg8h57] {
                display: block;
                padding: 15px 0;
                color: #424242
            }

.center[b-1rjssg8h57] {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.offcanvas-edit[b-1rjssg8h57] {
    background-color: #212529
}
