.scroll-card {
    width: 100%;
    overflow: auto;
}

.category-list {
    background-color: #212529;
    border-radius: 20px;
}

.category-cadr {
    background-color: #2c3238;
}

.category-button {
    background-color: #996806;
    border-radius: 20px;
}

.product-button {
    background-color: #696967;
    border: 0px;
    border-radius: 12px;
}

.input-card {
    background-color: #212529;
    border-radius: 12px;
}

.form-control {
    background-color: #2c3238;
    color: white;
    border-radius: 12px;
}

.product-card {
    background-color: #212529;
    color: white;
    border-radius: 12px;
}
