.menu-offcanvas {
    background-color: #212529
}

.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.edit-dish-offcanvas {
    background-color: #212529
}

.delete-dish-offcanvas {
    background-color: #212529
}

.close-red {
    background-color: red;
    color: #fff7cc;
}
