<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SIPI_CRM_System</title>
    <link rel="stylesheet" href="~/css/bootstrap.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SIPI_CRM_System.styles.css" asp-append-version="true" />
</head>
<body>
    <!--Navigation 9 -->
    <nav class="sticky-top py-4 py-lg-7 bg-dark">
        <div class="d-none d-lg-block">
            <div class="container text-lg-center bg-transparent text-white">
                <div class="row justify-content-between align-items-center">
                    <div class="col-2 col-xxl-1 row">
                        <button class="btn btn-sm text-light menu-button"
                                type="button"
                                data-bs-toggle="offcanvas"
                                data-bs-target="#offcanvasExample"
                                aria-controls="offcanvasExample">
                            Меню
                        </button>
                        <!--Offcanvas left-->
                        <div class="offcanvas offcanvas-start menu-offcanvas" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">

                        </div>
                    </div>
                    <div class="text-center col-8 row">
                        <h2 class="text-light">CRM System</h2>
                    </div>
                    <div class="col-2 col-xxl-1 row">
                        <form asp-page-handler="exit" method="post">
                            <button class="btn btn-sm btn-dark exit-button">Выход</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="render-body">
        @RenderBody()
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
