.menu-button {
    background-color: #996806;
    border-radius: 12px;
    border: 2px solid #875d0a;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

.menu-button:hover {
    background: linear-gradient(to bottom, #a87309 5%, #996806 100%);
    background-color: #a87309;
}

.menu-button:active {
    position: relative;
    top: 1px;
}

.exit-button {
    background-color: #696967;
    border-radius: 12px;
    border: 2px solid #575757;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Verdana;
    text-decoration: none;
}

    .exit-button:hover {
        background-color: #6c7c7c;
    }

    .exit-button:active {
        position: relative;
        top: 1px;
    }

.gradient-color {
    background: radial-gradient(circle, rgba(110,77,59,1) 0%, rgba(0,0,0,1) 98%);
    background-repeat: repeat-y;
    min-height: 100vh;
    background-attachment: fixed;
}
