.menu-offcanvas {
    background-color: #212529
}

.nav-item-divider {
    height: 1px;
    margin: 1rem 0;
    overflow: hidden;
    background-color: rgba(236, 238, 239, 0.3);
}

.edit-dish-offcanvas {
    background-color: #212529
}

.delete-dish-offcanvas {
    background-color: #212529
}

.close-red {
    background-color: red;
}

.close-button {
    background-color: #696967;
    color: white;
    border: 0;
}

.collapse-card {
    background-color: #212529;
    border-radius: 20px;
}

.sub-collapse-card {
    background-color: #2c3238;
}

.category-button {
    background-color: #996806;
    border-radius: 20px;
}

.new-dish-button {
    background-color: #755107;
    border-radius: 20px;
}

.sub-category-button {
    background-color: #755107;
    border-radius: 12px;
}

.dish-btn {
    background-color: #696967;
    border: 0px;
    border-radius: 12px;
}

.dish-card {
    background-color: #212529;
    color: white;
    border-radius: 12px;
}
